extends ../layout

block content
  h1.follow-requests.mb-4 #{t('search.searchResult')}
  
  if results.length > 0
    .follow-requests
      each result in results
        .follow-request
          .avatar
            img(src=result.imageUrl, alt=result.fullName)
          .info
            .name
              a(href=`/guest/${result.userName}`)= result.fullName
  else
    .no-requests
      p= t('search.noResult')
