extends ../layout

block content
  .auth-form
    form(method='POST' action='/auth/change-password')
      h3=t('auth.changePassword')
      .form-group 
        input(type="text" hidden class="form-control" id="mail" name="mail" placeholder=t('auth.mail'))
      .form-group 
        input(type="password" class="form-control" id="newPassword" name="newPassword" placeholder=t('auth.newPassword'))
      .form-group 
        input(type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder=t('auth.confirmPassword'))
      .form-group
        button.btn.btn-block.create-account(type='submit')= t('auth.submit')
