include ../partials/subtitle

.section.pt-2.pb-6.skills(data-scroll)
  +subtitle("My Skills")
  hr
  if skills
    .row.gx-10.gy-5
      each skill in skills.entries
        //- Single Skill
        .col-12.col-lg-6.fade-in-up.mb-4(data-scroll data-scroll-position="bottom")
          .row.align-items-center
            .col-12.d-flex.justify-content-between
              if skill.isHighlighted
                p.mb-0.skill-highlight
                  | #{skill.skill}
                p.mb-0.skill-highlight
                  | #{skill.yearsOfExperience} #{t('about.yearsOfExperienceLabel')}
              else
                p.mb-0.skill-name
                  | #{skill.skill}
                p.mb-0.skill-experience
                  | #{skill.yearsOfExperience} #{t('about.yearsOfExperienceLabel')}
